.image-viewer {
    position: relative;
}

.image-viewer * {
    width: 100%;
}

.image-viewer .timeline {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.75);
}