#asset-tree {
    width: 100%;
    height: 100%;
}


#asset-tree-panel {
    margin: 1em 0.5em;
    background-color: #131313;
    border-radius: 1em;
    border: solid 1px #333;
}

#asset-tree-table {
    width: 90%;
    border-collapse: collapse;
    margin: 1em auto;
}

#asset-tree-table th {
    font-size: 0.8em;
    padding: 0em 1em;
    text-align: left;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#asset-tree-table td {
    font-size: 0.8em;
    padding: 0em 1em;
    border-bottom: 1px solid #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#asset-tree-table td img {
    height: 1em;
}


#asset-tree-table tbody tr {
    transition: background 0.2s ease;
}

#asset-tree-table tbody tr:nth-child(even) {
    background: #252525; /* subtle zebra striping */
}

#asset-tree-table tbody tr:hover {
    cursor: pointer;
    background: rgb(31, 71, 145); /* soft green highlight */
}

#asset-tree-table tbody tr.published {
    background-color: rgba(37, 151, 51, 0.486);
}