---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <button id="launch-blender">Launch Blender</button>
  <button id="launch-houdini">Launch Houdini</button>
  <button id="launch-nuke">Launch Nuke</button>
</Layout>

<script is:inline>
  document.getElementById('launch-blender').addEventListener('click', async () => {
    try {
      const response = await fetch('http://localhost:5000/launch-blender', {
        method: 'POST'
      });
      
      if (response.ok) {
        
      } else {
        alert('Failed to launch Blender');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Error launching Blender');
    }
  });
  document.getElementById('launch-houdini').addEventListener('click', async () => {
    try {
      const response = await fetch('http://localhost:5000/launch-houdini', {
        method: 'POST'
      });
      
      if (response.ok) {
        
      } else {
        alert('Failed to launch Houdini');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Error launching Houdini');
    }
  });
  document.getElementById('launch-nuke').addEventListener('click', async () => {
    try {
      const response = await fetch('http://localhost:5000/launch-nuke', {
        method: 'POST'
      });
      
      if (response.ok) {
        
      } else {
        alert('Failed to launch Nuke');
      }
    } catch (error) {
      console.error('Error:', error);
      alert('Error launching Nuke');
    }
  });
</script>