.listView {
    width: 100%;
    height: 100%;
}


.listViewPanel {
    margin: 1em 0.5em;
    background-color: var(--dark-grey);
    border-radius: 1em;
    border: solid 1px var(--medium-grey);
}

.listViewTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* fixes column widths */
}

.listViewHeader {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.listViewHeader .iconButton {
    text-align: center;
    font-size: 12px;
    width: 16px;
    height: 16px;
}

.listViewContainer {
    margin: 1em;
}

.listViewBodyContainer {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
}

.listViewTable th {
    font-size: 0.8em;
    padding: 0em 1em;
    text-align: left;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.listViewTable td {
    font-size: 0.8em;
    padding: 0em 1em;
    border-bottom: 1px solid var(--medium-grey);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listViewTable td img {
    height: 1em;
}

.listViewTable tbody tr {
    transition: background 0.2s ease;
}

.listViewTable tbody tr:nth-child(even) {
    background: var(--table-zebra-background); /* subtle zebra striping */
}

.listViewTable tbody tr:hover {
    cursor: pointer;
    background: var(--medium-grey); /* soft green highlight */
}

.listViewTable tbody tr.selected {
    background-color: var(--primary-color);
}

.listViewTable tbody tr.published {
    background-color: var(--published-color);
}