nav {
    padding: 0.5em 0em;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-bottom: var(--medium-grey) 1px solid;
}

#project-select {
    width: 10%;
    padding: 0.8em 1em;
    text-align: center;


    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='14' width='14' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 20,0 10,12'/></svg>");
    background-repeat: no-repeat;
    background-position: right 1em top 60%; /* move arrow */
    background-size: 5%;
}

#cwd-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 40%;
    border-radius: 2em;
    background-color: var(--dark-grey);
    border: solid var(--medium-grey) 1px;
}

#cwd-input {
    padding: 0.75em 0em;
    margin: 0em;
    width: 100%;
}

#cwd-container button {
    background-color: transparent;
    margin: 0em 0.5em;
}