#configure-project-dialog {
  padding: 1em;
  background-color: var(--dark-grey);
  border: solid 1px var(--medium-grey);
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  gap: 1em;
  border-radius: 15px;
}


#configure-project-dialog button {
    background-color: transparent;
}

#configure-project-dialog #header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}