#project-folder-dialog {
  padding: 1em;
  background-color: var(--dark-grey);
  border: solid 1px var(--medium-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1em;
  border-radius: 15px;
}

#project-folder-dialog input {
  border-bottom: solid 2px var(--medium-grey);
  border-radius: 0px;
}

#project-folder-dialog select {
  width: 100%;
}

#project-folder-dialog button {
  background-color: transparent;
}

#project-folder-dialog .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}